<form style="background-color: #DFDFDF;">
<div style="margin: 15px;">
<br /><br />

RESET PASSWORD LINK:<br />
<%= @url %><br />
(you can click directly on the link or copy and paste the entire link into the address line of your browser)<br /><br />

Kind Regards,<br /><br />

The Challenger Team<br />
www.challenger.sg<br /><br />

**************************************************************************************************************<br />
Received this e-mail by mistake?<br />
You received this e-mail because you or someone in your household registered to be a member of Challenger.<br /><br />

We are sorry if your e-mail address has been used for this offer without your permission and we apologise for any inconvenience caused. If you DO NOT respond to this mail we may send you a reminder e-mail, but then we shall not contact you further.<br />

For other queries, questions or suggestions, please contact Customer Service: 6339 9008.<br /><br />
************************************************************************************************************<br />
Avoid losing your Challenger mail:<br />
To make sure e-mails from us are delivered DIRECTLY TO YOUR INBOX and not to your bulk/spam folder/s, please ADD dixiaoyu@bizpoint-intl.com to your address book.<br /><br />

*********************************************************************************************************<br />
Guaranteed Privacy:<br />
All information you give us will only be used for research purposes. Your personal details will never be given to a third party or used for commercial purposes. For more information you can take a look at our PRIVACY STATEMENT on our website www.challenger.sg.<br /><br />


</div>
</form>