
<form >
   <p class="title">RESET PASSWORD</p>
   <table  cellspacing="2px" cellpadding="3px">
     <tr>
       <td style="font-size:16px;">Thank you! We have successfully submitted your email account through link to reset your password.</td>
     </tr>
   </table>
   <div class="footer">
     <p>@ 2011 Challenger Technologies Limited. All Rights Reserved | <a href="#">Privacy & Security Policy</a></p>
   </div>
</form>