<div id="content" style="background-color:#DFDFDF;">
    <h2 style="background-color:#2A5388; width:657px; height:35px;">My Password</h2>
      <div class="mpcontent">
    <p style="font-size: 18px; color: #204C86; margin: 10px 20px;">You have successfully changed your password<br />
   <!-- <%= link_to "EXIT" ,home_path(current_user.id)%>--></p>
</div>
</div>