<form>

<p style="position:absolute; top:190px; left:130px; font-size:30px; font-weight:bold; color:#FBA23C;">WELCOME TO BE A MEMBER OF CHALLENGER !</p>
<h3 style="position: absolute; top: 310px; left: 130px; color: white;">we already send a link to your registed email,<br />
please click and active your acount.thank you.
</h3>
<div style="letter-spacing:0.5px; word-spacing:0; position: relative; left: 120px; top: 530px; font-size: 13px; color: black; font-size: 13px;">
      <p>@ 2011 Challenger Technologies Limited. All Rights Reserved | <a href="#" style="color: #808080;">Privacy & Security Policy</a></p>
  </div>
</form>
