
<form >
   <p class="title">RESET PASSWORD</p>
   <table  cellspacing="2px" cellpadding="3px">
     <tr>
       <td style="font-size:17px;">Sorry, you have excedeed the maximum limit of entering your password. We have reset and sent your password to your registered email address.</td>
     </tr>
   </table>
   <div class="footer">
     <p>@ 2011 Challenger Technologies Limited. All Rights Reserved | <a href="#">Privacy & Security Policy</a></p>
   </div>
</form>