<form >
   <p class="title">RESET PASSWORD</p>
   <table  cellspacing="2px" cellpadding="3px">
     <tr>
       <td style="font-size:17px;">Your password is reset successfully, &nbsp;<%= link_to "Click to sign in", signin_path %></td>
     </tr>
   </table>
   <div class="footer">
     <p>@ 2011 Challenger Technologies Limited. All Rights Reserved | <a href="#">Privacy & Security Policy</a></p>
   </div>
</form>