<div id="content" style="background-color:#DFDFDF;">
	<h2 style="background-color:#2A5388; width:657px; height:35px;">Feedback</h2>
     <div class="fb1content">
<%= render "feedbacks/memberinfo"%>
</div>
</div>
